
 
@keyframes buttons {
    0%   {background-color: #ad27ad; left:0px; top:0px;}
    25%  {background-color: #26A9E0; left:200px; top:0px;}
    50%  {background-color:#82f057; left:200px; top:200px;}
    75%  {background-color: #e3f057; left:0px; top:200px;}
    100% {background-color: #ad27ad; left:0px; top:0px;}
  }

  /* @keyframes buttons {
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: orange; left:200px; top:0px;}
    50%  {background-color: yellow; left:200px; top:200px;}
    75%  {background-color: #e3f057; left:0px; top:200px;}
    100% {background-color: red; left:0px; top:0px;}
  } */

body {
    background-color:lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: black;
    padding: 10px;
    width: 98vw;
    text-align: center;
    font-style: italic;
    font-size:30px;
    background: linear-gradient(45deg, #ad27ad, #26A9E0, #82f057, #e3f057);
    /* background: linear-gradient(45deg, red, orange, yellow, #e3f057); */
    background-size: 200%;
    border-style:double;
    border-radius: 0 15px 0 15px;
    /* animation-name: buttons;
    animation-duration: 20s;
    animation-iteration-count: infinite; */
    
  
}

p {
    font-size: larger;
    text-align: center;
}

form {
    justify-content: center;
}

h4 {text-align: center;
    text-decoration: underline;

}


.container {
    width: 225px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 0 15px 0 15px;
    position: relative;
    background: white;
    /* background: linear-gradient(45deg, red, orange, yellow, #e3f057); */
    background: linear-gradient(45deg, #ad27ad, #26A9E0, #82f057, #e3f057);
    background-size: 200%;
    font-size: larger;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dish-option {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#random-btn{
    border-radius: 0 15px 0 15px;
    width: 200px;
    height: 50px;
    font-size: larger;
    animation-name: buttons;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}
#submit-btn {
    border-radius: 0%;
    animation-name: buttons;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#delete-button {
    background-color: white;
    border-radius: 0 15px 0 15px;
}

footer {
    width: 100vw;
    margin: 200px;
    display: flex;
    justify-content:center;
}